<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head('Create Budget')"></head>
<body>

<nav th:replace="partials :: navbar"></nav>


<div uk-grid="" class="mv-xxl ml-0 uk-flex-middle uk-text-center">
    <ul class="uk-width-1-12@s uk-tab-left pl-xs" data-uk-tab="connect: #budget-form; animation: uk-animation-fade;">
        <li class="mv-xl"><a href="">Income</a></li>
        <li class="mv-xl"><a href="">Savings</a></li>
        <li class="mv-xl"><a href="">Expenses</a></li>
    </ul>
    <form class="uk-width-expand@s uk-margin ml-m" action="" th:object="${budget}">
        <ul id="budget-form" class=" uk-switcher ">
            <li><a href="#" data-uk-switcher-item="next"></a>
                <div class="uk-container">
                    <div class="uk-margin">
                        <div class="uk-inline w40">
                            <span class="uk-form-icon" uk-icon="icon: mail"></span>
                            <input class="uk-input" type="number" placeholder="Pay" maxlength="6" th:field="*{monthlyIncome.pay}"/>
                        </div>
                    </div>
                    <div class="uk-margin">
                        <div class="uk-inline w40">
                            <span class="uk-form-icon" uk-icon="icon: lock"></span>
                            <input class="uk-input" type="number" placeholder="Other" maxlength="6" th:field="*{monthlyIncome.other}"/>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="uk-container">
                    <div class="uk-margin">
                        <div class="uk-inline w40">
                            <span class="uk-form-icon" uk-icon="icon: lock"></span>
                            <input class="uk-input" type="number" placeholder="Emergency Fund" maxlength="6" th:field="*{monthlySavings.emergencyFund}"/>
                        </div>
                    </div>
                    <div class="uk-margin">
                        <div class="uk-inline w40">
                            <span class="uk-form-icon" uk-icon="icon: lock"></span>
                            <input class="uk-input" type="number" placeholder="Investments" maxlength="6" th:field="*{monthlySavings.investments}"/>
                        </div>
                    </div>
                    <div class="uk-margin">
                        <div class="uk-inline w40">
                            <span class="uk-form-icon" uk-icon="icon: lock"></span>
                            <input class="uk-input" type="number" placeholder="Retirement" maxlength="6" th:field="*{monthlySavings.retirement}"/>
                        </div>
                    </div>
                    <div class="uk-margin">
                        <div class="uk-inline w40">
                            <span class="uk-form-icon" uk-icon="icon: lock"></span>
                            <input class="uk-input" type="number" placeholder="Other" maxlength="6" th:field="*{monthlySavings.surplus}"/>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="uk-container">
                    <div class="uk-margin">
                        <div class="uk-inline w40">
                            <span class="uk-form-icon" uk-icon="icon: lock"></span>
                            <input class="uk-input" type="number" placeholder="Food" maxlength="6" th:field="*{monthlyExpenses.food}"/>
                        </div>
                    </div>
                    <div class="uk-margin">
                        <div class="uk-inline w40">
                            <span class="uk-form-icon" uk-icon="icon: lock"></span>
                            <input class="uk-input" type="number" placeholder="Clothing" maxlength="6" th:field="*{monthlyExpenses.clothing}"/>
                        </div>
                    </div>
                    <div class="uk-margin">
                        <div class="uk-inline w40">
                            <span class="uk-form-icon" uk-icon="icon: lock"></span>
                            <input class="uk-input" type="number" placeholder="Shelter" maxlength="6" th:field="*{monthlyExpenses.shelter}"/>
                        </div>
                    </div>
                    <div class="uk-margin">
                        <div class="uk-inline w40">
                            <span class="uk-form-icon" uk-icon="icon: lock"></span>
                            <input class="uk-input" type="number" placeholder="Household" maxlength="6" th:field="*{monthlyExpenses.household}"/>
                        </div>
                    </div>
                    <div class="uk-margin">
                        <div class="uk-inline w40">
                            <span class="uk-form-icon" uk-icon="icon: lock"></span>
                            <input class="uk-input" type="number" placeholder="Transportation" maxlength="6" th:field="*{monthlyExpenses.transportation}"/>
                        </div>
                    </div>
                    <div class="uk-margin">
                        <div class="uk-inline w40">
                            <span class="uk-form-icon" uk-icon="icon: lock"></span>
                            <input class="uk-input" type="number" placeholder="Health" maxlength="6" th:field="*{monthlyExpenses.health}"/>
                        </div>
                    </div>
                    <div class="uk-margin">
                        <div class="uk-inline w40">
                            <span class="uk-form-icon" uk-icon="icon: lock"></span>
                            <input class="uk-input" type="number" placeholder="Student Loans" maxlength="6" th:field="*{monthlyExpenses.studentLoans}"/>
                        </div>
                    </div>
                    <div class="uk-margin">
                        <div class="uk-inline w40">
                            <span class="uk-form-icon" uk-icon="icon: lock"></span>
                            <input class="uk-input" type="number" placeholder="Personal" maxlength="6" th:field="*{monthlyExpenses.personal}"/>
                        </div>
                    </div>
                    <div class="uk-margin">
                        <div class="uk-inline w40">
                            <span class="uk-form-icon" uk-icon="icon: lock"></span>
                            <input class="uk-input" type="number" placeholder="Car Insurance" maxlength="6" th:field="*{monthlyExpenses.carInsurance}"/>
                        </div>
                    </div>
                    <div class="uk-margin">
                        <div class="uk-inline w40">
                            <span class="uk-form-icon" uk-icon="icon: lock"></span>
                            <input class="uk-input" type="number" placeholder="House Insurance" maxlength="6" th:field="*{monthlyExpenses.houseInsurance}"/>
                        </div>
                    </div>
                    <div class="uk-margin">
                        <div class="uk-inline w40">
                            <span class="uk-form-icon" uk-icon="icon: lock"></span>
                            <input class="uk-input" type="number" placeholder="Other" maxlength="6" th:field="*{monthlyExpenses.other}"/>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </form>
</div>


<footer th:replace="partials :: footer"></footer>
<span th:replace="partials :: scripts"></span>
</body>
</html>