<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:fragment="head(title)">
    <meta charset="UTF-8"/>
    <title th:text="${title}"></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.26/css/uikit.min.css" />
    <link rel="stylesheet" href="/custom-uikit-expansion.css"/>
    <link rel="stylesheet" href="/spaces.css" />
</head>
<body>

<nav th:fragment="navbar" class="uk-navbar-container uk-margin" uk-navbar="">
    <div class="uk-navbar-left">
        <a class="uk-navbar-item uk-logo" href="#">Matt's Budget Calculator</a>
    </div>
    <div class="uk-navbar-right">
        <div class="uk-navbar-item">
            <div><a href="/">Home</a></div>
        </div>
        <div sec:authorize="!isAuthenticated()">
            <div class="uk-navbar-item">
                <div><a href="/login">Login</a></div>
            </div>
        </div>
        <div sec:authorize="isAuthenticated()">
            <div class="uk-navbar-item">
                <div><a href="/budget/create">Create Budget</a></div>
            </div>
            <div class="uk-navbar-item">
                <form th:action="@{/logout}" th:method="post">
                    <button class="btn">Logout</button>
                </form>
            </div>
        </div>
    </div>
</nav>


<footer th:fragment="footer">

</footer>
<span th:fragment="scripts">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.26/js/uikit.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.26/js/uikit-icons.min.js"></script>
    </span>
</body>
</html>