<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:fragment="head(title)">
    <meta charset="UTF-8"/>
    <title th:text="${title}"></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.26/css/uikit.min.css" />
    <link rel="stylesheet" href="/css/custom-uikit-expansion.css"/>
    <link rel="stylesheet" href="/css/spaces.css" />
    <link rel="stylesheet" href="/css/budget.css"/>
</head>
<body>

<nav th:fragment="navbar" class="uk-light main-bg uk-navbar-container uk-margin" uk-navbar="">
    <div class="uk-navbar-left">
        <a class="uk-navbar-item uk-logo" href="#">Matt's Budget Calculator</a>
    </div>
    <div class="uk-navbar-right">
        <div class="uk-navbar-item">
            <div><a href="/"><span uk-icon="home" class="mr-xxxs"></span>Home</a></div>
        </div>
        <div class="uk-navbar-item">
            <div><a href="/posts"><span uk-icon="comments" class="mr-xxxs"></span>Posts</a></div>
        </div>
        <div class="uk-navbar-item p-0" sec:authorize="!isAuthenticated()">
            <div class="uk-navbar-item">
                <div><a href="/login"><span uk-icon="sign-in" class="mr-xxxs"></span>Login</a></div>
            </div>
            <div class="uk-navbar-item">
                <div><a href="/sign-up"><span uk-icon="pencil" class="mr-xxxs"></span>Register</a></div>
            </div>
        </div>
        <div class="uk-navbar-item p-0" sec:authorize="isAuthenticated()">
            <div class="uk-navbar-item">
                <div><a href="/posts/create"><span uk-icon="commenting" class="mr-xxxs"></span>Create Post</a></div>
            </div>
            <div class="uk-navbar-item">
                <div><a href="/budget/create"><span uk-icon="list" class="mr-xxxs"></span>Budget</a></div>
            </div>
            <div class="uk-navbar-item">
                <form th:action="@{/logout}" th:method="post" id="logout">
                    <a onclick="document.getElementById('logout').submit();"><span uk-icon="sign-out" class="mr-xxxs"></span>Logout</a>
                </form>
            </div>
        </div>
    </div>
</nav>


<footer th:fragment="footer">

</footer>
<span th:fragment="scripts">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.26/js/uikit.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.26/js/uikit-icons.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
</span>
</body>
</html>