<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head('Home')"></head>
<body>

<nav th:replace="partials :: navbar"></nav>

<div class="uk-container uk-text-center w25">
    <h3>Log In</h3>

    <form class="uk-form-stacked" th:action="@{/login}" method="post">
        <div class="uk-margin">
            <label class="uk-form-label uk-text-left" for="username">Username</label>
            <input class="uk-input" id="username" name="username" type="text" placeholder="Username"/>
        </div>
        <div class="uk-margin">
            <label class="uk-form-label uk-text-left" for="password">Password</label>
            <input class="uk-input" id="password" name="password" type="password" placeholder="Password"/>
        </div>
        <div class="uk-margin">
            <button class="uk-button uk-button-primary" type="submit">Login</button>
        </div>
    </form>

    <section>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
        <div th:if="${param.error}">
            Invalid Username and Password.
        </div>
    </section>
</div>

<footer th:replace="partials :: footer"></footer>
<span th:replace="partials :: scripts"></span>
</body>
</html>